{% extends 'layout.html.twig' %}

{% block body %}
    <p><span class="indigo-text font-weight-bold">Destinataire :</span> {{ mailTo }}</p>
    <p><span class="indigo-text font-weight-bold">De :</span> Sortir.com</p>
    <p><span class="indigo-text font-weight-bold">Objet :</span> #Sortir.com : Demande réinitialisation mot de
        passe.</p>

    <p class="indigo-text font-weight-bold">Message :</p>
    <div class="p-2" style="border: 1px solid #3f51b5">
        <p>
            Bonjour,
        </p>
        <p>Vous recevez ce mail car vous avez demandé une réinitialisation de mot de passe. Pour procéder au changement,
            <a class="light-blue-text" href="{{ path('app_reset_password', {'email': mail}) }}">cliquer ici</a>.
        </p>
        <p>Si vous n'êtes pas l'auteur de ce mail merci de prévenir l'administrateur de votre campus.</p>
    </div>
{% endblock %}
