{% extends 'layout.html.twig' %}
{% form_theme resetPwdForm 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="card">
        <h5 class="card-header">Réinitialisez votre mot de passe</h5>
        <div class="card-body">
            {{ form_start(resetPwdForm) }}
            {{ form_widget(resetPwdForm) }}
            <button class="btn grey lighten-2 btn-md mt-4" type="submit">Réinitialiser</button>
            {{ form_end(resetPwdForm) }}
        </div>
    </div>
{% endblock %}
