{% extends 'layout.html.twig' %}


{% block body %}
    <a href="{{ path('app_admin_campus_add') }}" class="btn grey lighten-2 btn-md mt-2">Ajouter un campus</a>

    {# total items count #}
    <div class="count mt-3  mb-3 flex row justify-content-end mr-5">
        <h5 class="text-primary"> Total : {{ campus.getTotalItemCount }} </h5>
    </div>
    <table class="table" id="participantsTable">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">NOM</th>
        </tr>
        </thead>
        <tbody>
        {% for campu in campus %}
            <tr>
                <th scope="row">{{ campu.nom }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(campus) }}
    </div>
{% endblock %}
