{% extends 'layout.html.twig' %}


{% block body %}
    <a href="{{ path('app_admin_campus_add') }}" class="btn light-blue darken-3 text-white btn-rounded" role="button"><i
                class="fas fa-plus mr-1"></i> Ajouter un campus</a>

    {# total items count #}
    <div class="count mt-3  mb-3 flex row justify-content-end mr-5">
        <span class="btn btn-outline-info shadow-none">Total : {{ campus.getTotalItemCount }}</span>
    </div>
    <table class="table" id="participantsTable">
        <thead>
        <tr>
            <th scope="col" class="font-weight-bold">NOM</th>
        </tr>
        </thead>
        <tbody>
        {% for campu in campus %}
            <tr>
                <th scope="row">{{ campu.nom }}</th>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="navigation">
        {{ knp_pagination_render(campus) }}
    </div>
{% endblock %}
