{% extends 'layout.html.twig' %}

{% block body %}
    <h1> Oops i dit again ! 404 </h1>

    <br>
    <div class="tenor-gif-embed" data-postid="6182978" data-share-method="host" data-width="100%" data-aspect-ratio="1.2842105263157895"><a href="https://tenor.com/view/oops-did-it-again-gif-6182978">Oops IDid It Again Britney Spears GIF</a> from <a href="https://tenor.com/search/oopsididitagain-gifs">Oopsididitagain GIFs</a></div><script type="text/javascript" async src="https://tenor.com/embed.js"></script>

{% endblock %}

{% block title %} Error 404 {% endblock %}