{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container my-5 py-5">
        <!--Section: Content-->
        <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-lg-8 text-center">

                    <h3 class="font-weight-bold mb-4"> Accès restreint</h3>

                    <!--Image-->
                    <div>
                        <img src="{{ asset('image/403-error.png') }}"
                             class="img-fluid"
                             alt="Error 403">
                    </div>
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->

        </section>
        <!--Section: Content-->
    </div>

{% endblock %}


{% block title %} Accès restreint {% endblock %}